n8n-workflow-example.json
{
  "name": "YouTube Search via HTTP Request",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "youtube-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "youtube-search-webhook"
    },
    {
      "parameters": {
        "url": "http://localhost:3001/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "searchTerm",
              "value": "={{ $json.searchTerm || 'haulage trucks UK' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-request",
      "name": "YouTube Search API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "searchTerm",
              "value": "={{ $json.searchTerm }}"
            },
            {
              "name": "firstResult",
              "value": "={{ $json.firstResult }}"
            },
            {
              "name": "success",
              "value": "={{ $json.success }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-to-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "YouTube Search API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Search API": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
